@import "./normalize.css";

:root {
  --backgroundColour: #0c0c0e;
  --fontColour: #fff;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--backgroundColour);
    color: var(--fontColour);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}
