.page {
    height: 100vh;
    padding: 5rem 10rem 5rem 3rem;

    display: flex;
    flex-flow: column nowrap;   
}

.page :last-child {
    align-self: center;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    flex: 1;   

    margin-bottom: 2rem;
}

.headerContainer span:last-of-type {
    align-self: flex-end;
    text-align: right;
}

.header {
    margin: 0;
    font-size: 8rem;
    font-weight: 700;
    width: 30rem;
    line-height: 1.15;
}

.scrollIcon {
    --scrollHeight: 2.5rem;
    height: var(--scrollHeight);
    width: var(--scrollHeight);
}