.container {
    align-self: flex-start;
    flex: 1 1 0;

    --vert-padding: 10rem;
    padding-right: 5rem;
    margin: var(--vert-padding) 15rem;

    max-height: calc(100vh - 2 * var(--vert-padding));
    overflow: scroll;
}

.container p {
    margin-bottom: 3rem;
    max-width: 100%;
}

.table {
    border-collapse: collapse;
    table-layout: fixed;

    width: 100%;
}

.table thead {
    border-bottom: 1px solid white;

    font-size: 2.1rem;
    text-align: left;

    height: 7rem;
}

.table thead th:nth-child(1) {
    width: 40%;
}

.table thead th:nth-child(3) {
    width: 15%;
    text-align: right;
}

.table tbody {
    border-bottom: 1px solid white;

    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.table tbody tr {
    height: 6rem;
}

.table tbody tr:first-child {
    padding-top: 2rem;
}

.table tbody td:nth-child(3) {
    text-align: right;
}
