.page {
    position: relative;
    height: 100vh;
    padding: 5rem 10rem 5rem 3rem;

    display: flex;
    flex-flow: column nowrap;
}

.page :last-child {
    align-self: center;
}

.headerContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex: 1;

    margin-bottom: 2rem;
    z-index: 101;
}

.headerContainer span:last-of-type {
    align-self: flex-end;
    text-align: right;
    width: 30rem;
}
.headerContainer span:first-of-type {
    width: 50rem;
}

.header {
    margin: 0;
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.15;
}

.declaration {
    position: absolute;
    --width: 55rem;
    --height: 4rem;
    left: calc(50% - (var(--width) / 2));
    top: calc(50% - (var(--height) / 2));

    font-size: var(--height);
    font-weight: 600;
    text-wrap: nowrap;

    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 15%,
        rgba(255, 255, 255, 0) 82%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.scrollIcon {
    --scrollHeight: 2.5rem;
    height: var(--scrollHeight);
    width: var(--scrollHeight);
}

.triangle {
    position: absolute;
    top: 0;
    left: 3rem;
    right: 10rem;
    width: 0;
    height: 0;
    margin: auto;
    border-left: 35vw solid transparent;
    border-right: 35vw solid transparent;
    border-top: 55vh solid var(--accentColour);
    z-index: -1;
    filter: blur(15rem);
}

/* .animate__animated.animate__bounce {
    --animate-duration: 10s;
} */
