.logo {
    display: flex;
    justify-content: center;
    position: relative;

    --size: 4rem;
    height: var(--size);
    width: calc(300 / 500 * var(--size));

    fill: white;
    clip-path: var(--clipPath); /* clip path definition comes from JSX */

    transition: transform var(--transition-duration);
}

.logo:hover,
.logo:focus {
    transform: scale(1.2);
}

.logo::after {
    content: "";
    background-color: #68e2fb;
    height: 100%;
    /* --width: calc(100% * 300 / 500);
    width: var(--width); */
    width: 100%;

    position: absolute;
    left: calc((100% - var(--width)) / 2 - 0.01rem);
    top: -0.0245rem;

    transform: scaleY(0);
    transform-origin: bottom;

    transition: transform 0.3s;
}

.logo::after {
    /* Initial styles */
    /* background-color: blue; */

    /* Keyframe animation for the end of hover */
    animation: endHoverAnimation 0.3s ease-out backwards;
}

/* Hover state with different styles */
.logo:hover::after {
    /* background-color: red; */

    /* Keyframe animation for the beginning of hover */
    animation: startHoverAnimation 0.3s ease-in forwards;
}

/* Keyframe animations */
@keyframes startHoverAnimation {
    to {
        background-color: #68e2fb;
        transform-origin: bottom;
        transform: scaleY(1);
    }
}

@keyframes endHoverAnimation {
    to {
        background-color: white;
        transform-origin: top;
        transform: scaleY(1);
    }
}
