.navbar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 5rem 4rem;
    height: 100vh;
    /* z-index: -100; */
    width: var(--navBarWidth);
}

.navbar * {
    margin-bottom: 1.5rem;
}

.navbar *:last-child {
    margin-bottom: 0;
}

.navbarSection {
    font-size: medium;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    white-space: nowrap;

    --transition-duration: 0.4s;
    transition: transform var(--transition-duration),
        font-weight var(--transition-duration);
    position: relative;
}

.navbarSection:link,
.navbarSection:visited {
    color: var(--fontColour);
    outline-color: transparent;
    text-decoration: none;
}

.navbarSection:not(.logo) {
    transform: rotate(180deg);
    transition: transform 0;
}

.navbarSection:not(.logo)::before {
    content: "";
    background: radial-gradient(white, var(--backgroundColour));
    filter: blur(25px);

    --size: 90%;
    width: var(--size);
    height: var(--size);

    position: absolute;
    left: calc(50% - var(--size) / 2);
    top: calc(50% - var(--size) / 2);

    z-index: -1;
    opacity: 0;

    transition: opacity var(--transition-duration);
}

.navbarSection:not(.logo):hover,
.navbarSection:focus {
    transform: scale(1.2) rotate(180deg);
    font-weight: 600;
}

.navbarSection:hover::before,
.navbarSection:focus::before {
    opacity: 1;
}

.logo {
    fill: white;
    transition: transform var(--transition-duration);
}

.logo svg {
    height: 5.5rem;
}

.logo::before {
    content: "";
    background: radial-gradient(var(--accentColour), var(--backgroundColour));
    filter: blur(15px);

    --size: 70%;
    width: var(--size);
    height: var(--size);

    position: absolute;
    left: calc(50% - var(--size) / 2);
    top: calc(50% - var(--size) / 2);

    z-index: -1;
    opacity: 0;

    transition: opacity var(--transition-duration);
}

.logo:hover,
.logo:focus {
    transform: scale(1.2);
}

.iconContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
